* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #1e2d3b;
}

header {
    height: 100px;
    background-color: #2e3a46;
    line-height: 100px;
}

header img {
    height: 50%;
    width: auto;
    padding-left: 30px;
}

span {
    display: block;
}

.uppercase {
    text-transform: uppercase;
}

.row {
    width: 100%;
}

.row img {
    width: 130px;
    height: 130px;
}

.row .album {
    padding: 15px;
    background-color: #2e3a46;
    height: 330px;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.container {
    padding: 30px;
}
